# Игнорирование файлов и директорий виртуального окружения
venv/
*.env/
env/
ENV/

# Игнорирование файлов настроек редактора/IDE
.vscode/
.idea/

# Игнорирование скомпилированных Python файлов
__pycache__/
*.py[cod]
*.pyc

# Игнорирование логов и временных файлов
*.log
*.tmp
*.swp

# Игнорирование файлов зависимостей
Pipfile.lock
poetry.lock

# Игнорирование конфиденциальных файлов
.env
